.search-bar {
	margin: auto;
    max-width: 960px;
}

.title {
    width : 30%;
    background-image: -webkit-linear-gradient(left, blue, red, red); /* For Chrome and Safari */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
